.tasks {
  margin-top: 20px;
}

.task {
  display: flex;
  flex-direction: row;
  width: 400px;
  background-color: wheat;
  height: 30px;
  padding: 10px;
  justify-content: center;
  border-radius: 50px;

  &__text {
    margin: 0 20px;
    width: 230px;
    align-self: center;
  }

  &__button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    margin-left: 15px;

    &_delete {
      background-image: url("/image/trash.svg");
    }

    &_edit {
      background-image: url("/image/edit.svg");
    }
  }
}

.edited {
  text-decoration: line-through;
}