.postTask__button_delete {
  height: 28px;
  width: 70px;
  border-color: transparent;
  background-color: wheat;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
}